<header class="bg-pokeball text-black sticky top-0 shadow-md relative">
  <div class="flex justify-between items-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="flex justify-center items-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Poké_Ball_icon.svg" alt="Pokéball Icon"
        class="pokeball-icon">
      <a routerLink="home"
        class="text-3xl font-pokemonTitle font-bold text-pokemon pb-4 cursor-pointer hover:transition-transform transform hover:scale-110 active:scale-100">PokéApp</a>
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Poké_Ball_icon.svg" alt="Pokéball Icon"
        class="pokeball-icon">
    </div>
    <div class="absolute left-1/2 -bottom-7 transform -translate-x-1/2">
      <img src="../../assets/images/pokeballButton.jpg" alt="buttonPokeball" class="pokeball-button">
    </div>
    <div class="flex-grow mx-4 max-w-xs">
      <input type="text" placeholder="Search a Pokémon..."
        class="w-full p-2 rounded-full border-2 border-black font-pokemon text-xs focus:outline-none focus:ring-2 focus:ring-red-500">
    </div>
  </div>
</header>